<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1> Datos de la familia </h1>


    <u1>

        {% for item in familiares %}

        <li>
            <p style = "color: rgb(255, 166, 0)"> Nombre: {{ item.nombre}}, Apellido: {{ item.apellido}}, Edad: {{ item.edad}}, Fecha de nacimiento: {{ item.fechaDeNacimiento}}</p>


        </li>

        {% endfor %}
    </u1>





</body>
</html>